<nav class="navbar navbar-default nav-bar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
			     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			       <span class="sr-only">Toggle navigation</span>
			       <span class="icon-bar"></span>
			       <span class="icon-bar"></span>
			       <span class="icon-bar"></span>
			     </button>
			     <a class="navbar-brand brand-text-custom" href="#">Contact List App</a>
		   </div>

		   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		   		<!-- <ul class="nav navbar-nav">

		   		</ul> -->
		   		<form class="navbar-form navbar-left">
		   			<div class="form-group has-feedback">
   			          	<input type="text" class="form-control" ng-model="searchKey" placeholder="Search Contact">
   			          	<span class="glyphicon glyphicon-search form-control-feedback"></span>
   			        </div>
   			        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
		   		</form>

		   </div>

		</div>
</nav>